<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign up</title>
</head>

<body>
  <h1>Sign up</h1>
  <form action="/auth/sign-up" method="post">
    <label for="email">
      Email:
      <input type="email" id="email">
    </label>
    <label for="password">
      Password:
      <input type="password" id="password">
    </label>
    <label for="confirm-password">
      Confirm Password:
      <input type="confirm-password" id="confirm-password">
    </label>
    <button type="submit">Submit</button>
  </form>
</body>

</html>